<a href="https://colab.research.google.com/github/rajithasuja/Capstone-Project-/blob/main/Part_1_Segmenting_and_Clustering_Neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

**Scraping the contents of the webpage**

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
soup = BeautifulSoup(source,'xml')
tab = soup.find('table')

**Giving column names to data frames**

In [3]:
col_names = ['Postalcode', 'Borough', 'Neighborhood']
df = pd.DataFrame(columns=col_names)

In [4]:
for tr in tab.find_all('tr'):
  rd = []
  for td in tr.find_all('td'):
    rd.append(td.text.strip())
  if len(rd)==3:
    df.loc[len(df)]=rd

In [5]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
# Removing rows where Borough is 'Not assigned'
df = df[df.Borough!='Not assigned']

In [11]:
#If a cell has a borough but a 'Not assigned' neighborhood, then replacing the neighborhood with that of borough.
df['Neighborhood'] = np.where(df['Neighborhood']=='Not assigned', df['Borough'], df['Neighborhood'])

In [12]:
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [19]:
df.shape

(103, 3)