<a href="https://colab.research.google.com/github/rajithasuja/Capstone-Project-/blob/main/Part_2_Segmenting_and_Clustering_Neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

**Scraping the contents of the webpage**

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
soup = BeautifulSoup(source,'xml')
tab = soup.find('table')

**Giving column names to data frames**

In [3]:
col_names = ['Postalcode', 'Borough', 'Neighborhood']
df = pd.DataFrame(columns=col_names)

In [4]:
for tr in tab.find_all('tr'):
  rd = []
  for td in tr.find_all('td'):
    rd.append(td.text.strip())
  if len(rd)==3:
    df.loc[len(df)]=rd

In [5]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
# Removing rows where Borough is 'Not assigned'
df = df[df.Borough!='Not assigned']

In [11]:
#If a cell has a borough but a 'Not assigned' neighborhood, then replacing the neighborhood with that of borough.
df['Neighborhood'] = np.where(df['Neighborhood']=='Not assigned', df['Borough'], df['Neighborhood'])

In [12]:
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [19]:
df.shape

(103, 3)

In [21]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [22]:
geo_df = pd.read_csv('https://cocl.us/Geospatial_data')
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
geo_df.rename(columns={'Postal Code':'Postalcode'}, inplace = True)
geo_merge = pd.merge(geo_df,df, on = 'Postalcode')
geo_data = geo_merge[['Postalcode', 'Borough', 'Neighborhood','Latitude','Longitude']]

In [24]:
geo_data.head()

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]